DiscountOffers/bin/Debug/DiscountOffers.exe
DiscountOffers/bin/Debug/DiscountOffers.exe
DiscountOffers/bin/Debug/DiscountOffers.pdb
DiscountOffers/obj/Debug/DiscountOffers.exe
DiscountOffers/obj/Debug/DiscountOffers.pdb
